exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
importFrom(RcppParallel, RcppParallelLibs)
import(Matrix)
importFrom(parallel,mclapply)
importFrom(parallel,detectCores)
importFrom(abind,abind)
useDynLib(BSFG)
